/* Colours
/* ============= */

:root {
  --acolor:#2B6679;
  --highlight:#2B667930;
  --bgcolor:#FFF9DE;
  --bgcolor-alpha:#FFFBDF00;
  --bg2:#EBDBB2;
  --screen:#CCBB9B66;
}

@media screen {
  html, header {
    background-color:var(--bgcolor);
  }
}

h1, h2, h3, h4, h5, h6 {
  color:var(--acolor);
}

a, a:hover, b:hover, i:hover  {
  color:var(--acolor);
}

code {
  background:var(--screen);
  border-radius:calc(3rem/26);
  padding:.05em .23em .11em .23em;
}

#menu a.-focus, #menu a:hover {
  color:var(--acolor);
}

::selection {
  background-color:var(--highlight);
  text-shadow:none;
}


/* Fonts
/* ===== */

/* 
font:
  [ [ <'font-style'> || <font-variant-css21> || <'font-weight'> || <'font-stretch'> ]?
    <'font-size'> [ / <'line-height'> ]? <'font-family'> ]
  | caption | icon | menu | message-box | small-caption | status-bar

where
  <font-variant-css21> = [ normal | small-caps ]
*/

:root {
  ---serif: 'Times', 'Times New Roman', Serif;
  ---sans:  'Helvetica', Sans-Serif;
  ---mono:  'Hack', 'Monaco', 'Menlo', MonoSpace;
}

:root {
  --sans: calc(2rem/3)/1rem var(---sans);
  --sans-bold: bold calc(2rem/3)/1rem var(---sans);
  --sans-italic: italic calc(2rem/3)/1rem var(---sans);
  --serif: calc(2rem/3)/1rem var(---serif);
  --serif-bold: bold calc(2rem/3)/1rem var(---serif);
  --serif-italic: italic calc(2rem/3)/1rem var(---serif);
  --serif-bold-italic: bold italic calc(2rem/3)/1rem var(---serif);
  --mono: calc(2rem/3)/1rem var(---mono);
}

body {
  font:var(--serif);
}

h1 {
  font:var(--sans-bold);
}

h2, h3, h4 {
  font:var(--sans);
}

h2 {
  letter-spacing:0.01em;
}

h3 {
  font-variant:all-small-caps;
  letter-spacing:0.028em;
}

h4, a {
  font:var(--sans);
  letter-spacing:0.012em;
}

pre, code, tt {
  font:var(--mono);
}

dfn, i, var, em {
  font:var(--serif-italic);
}

b {
  font:var(--sans-bold);
}

strong {
  font:var(--serif-bold);
}

strong em {
  font:var(--serif-bold-italic);
}

.op, .fn, i.op, i.fn {
  font:var(--sans);
}

b.na {
  font-weight:normal;
  color:var(--screen);
}

abbr, .url, .caps {
  font-variant:small-caps;
  font-variant:all-small-caps;
  font-style:normal;
}

th {
  font-weight:unset;
}

#menu a {
  font:var(--serif);
}

*:not(body, html) {
  font-size:inherit;
}


/* Typographic Scale
/* ============= */

html {
  font-size:22px; /* set the rem */
}

body {
  font-size:0.74rem;
}

h1 {
  font-size:1.7rem;
  line-height:2rem;
  margin-bottom:2rem;
  margin-top:-1rem;
}

h2 {
  margin-top:1rem;
  margin-bottom:1rem;
  font-size:.9rem;
}

h3 {
  margin-top:2.25rem;
  margin-bottom:.75rem;
  font-size:.89rem;
}

h4 {
  font-size:0.914em;
  font-size:0.64rem;
}

section {
  margin-bottom:5rem;
}

section.-short {
  margin-bottom:2rem;
}

sup, sub {
  font-size:.75em;
}


/* Page Layout
/* =========== */

:root {
  --spine:0;
  --left:1rem;
  --right:1rem;
  --width:26rem;
}

header, #tools {
  position:fixed;
}

/*html, body, main, header, #tools {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

main {
  overflow-y:auto;
}
*/
header {
  height:2rem;
  width:100vw;
  z-index:100;
  padding:0;
  top:0;
  display:none;
}

header.-hidden {
  display:none;
}

/* This is a somewhat messy way to draw the spine;
  and in a way such that it does extend beyond the rubber banding
  effect in Safari */

html { /** The spine **/
  background:linear-gradient(
    to right,
    var(--acolor),
    var(--acolor) var(--spine),
    #0000 var(--spine),
    #0000
  ), var(--bgcolor);
}
body {
  padding-left:var(--spine);
}

article, header hgroup {
  box-sizing:content-box;
  width:var(--width);
  margin:2rem var(--right) 8rem var(--left);
}

header hgroup {
  margin:0 var(--right) 0 var(--left);
  height:2rem;
  line-height:1rem;
}

header hgroup h2 {
  line-height:1rem;
  padding:.46rem .25rem .5rem;
  border-bottom:0.04rem solid var(--acolor);
  margin:0 -0.25rem 0;
  white-space:nowrap;
}

script[type=bnf] {
  display:block;
  font:var(--mono);
  font-size:.85em;
  white-space:pre;
}

#tools {
  left:32rem;
  height:100vh;
  width:10rem;
  z-index:100;
  padding:3rem 0 0 0;
  counter-reset: list-counter;
  display:none;
}

#menu, #menu ul {
  list-style:none;
  padding:0;
  margin:0;
  text-align:center;
}

#menu li::before {
  content:none;
}

#menu {
  margin-top:1rem;
}

#toc a, #menu a {
  font-family:var(--serif);
  font-size:inherit;
  color:unset;
}

#tooltip>* {
  width:10rem;
}

h1::before {
  /* For fragment references */
  display:block;
  content:'';
  height:2rem;
  margin-top:-2rem;
}

article h2::before {
  /* For fragment references */
  display:block;
  content:'';
  height:1rem;
  margin-top:-1rem;
}

#icon {
  display:block;
  font-size:3.5rem;
  line-height:4.5rem;
  height:4.5rem;
  margin-top:-1rem;
  margin-bottom:0;
  background:url(../icon.png) top center no-repeat;
  position:relative;
  text-indent:100vw;
  overflow:hidden;
}


/* Responsive Relayout
/* =================== */

@media (max-width:635px) {
  html {
    font-size:calc(99vw/28);
  }
}

@media (min-width:635px) {
  :root {
    --left:auto;
    --right:auto;
  }
}

@media (min-width: 675px) {
  :root {
    --spine:1.75rem;
    --left:2rem;
    --right:5rem;
  }
}
@media (min-width: 823px) {
  #tools {
    display:block;
  }
}

@media (min-width: 900px) {
  :root {
    --spine:1.75rem;
    --left:3rem;
    --right:5rem;
  }
}

/* Hide the spine */
@media print {
  :root { --spine:0 }
}


/* Other Structural Devices
/* ======================== */

ul {
  padding:0 0 0 1em;
  list-style:none;
}

ol {
  padding:0;
  list-style-position:inside;
}

ul.prose, ol.prose {
  list-style-position:inside;
  padding:0;
}

ul.prose > li::before {
  margin-left:0;
}

li > ul, li > ol {
  padding:0 0 0 1em;
}

ul > li::before {
  content:'–  ';
  margin-left:-1em;
}


h4, h4+p {
  display:inline;
}

article h4 + p::before {
  content:'|';
  padding:0 .18em;
}

article h4 + p::after {
  content:'';
  display:block;
  margin:0 0 1rem;
}

article h4 + p.inbetween::after {
  margin:0 0 .5rem;
}

article h4 + p.-br::after {
  margin:0;
}

table tr.inbetween td {
  padding-top:.5rem;
  padding-bottom:.5rem;
}
table td, table th {
  white-space:normal;
}

table {
  border-collapse:collapse;
}

td:nth-child(2n+2) {
  text-align:center;
  padding:0 .6em;
}


.todo, .note {
  display:block;
  font:var(--sans-italic);
  padding:.5rem .7rem;
  margin:0 1.3rem 0 .3rem;
  margin-bottom:1rem;
  background-color:var(--highlight);
  font-size:.65rem;
}
td>.note {
  margin:0;
}

.note::before, .todo::before {
  content:'TODO ';
  color:var(--acolor);
  font:var(--sans);
  font-variant:small-caps;
  font-variant:all-small-caps;
  font-size:.9rem;
}

.note::before {
  content:'NB ';
}

.indent {
  margin-left:1rem;
}

p.center {
  text-align:center;
  width:auto;
}

/* Typography for Idioms
/* ===================== */

/* Using <i> For idioms */
/* Using <b> and <code> for constants */

b:hover, i:hover {
  cursor:pointer;
}

abbr, .url, .caps {
  font-style:normal;
  font-size:1.18em;
}

/** Underlines **/

a {
  text-decoration:none;
}

#menu ul a:hover {
  /*font:var(--sans);*/
  background-image:none;
  text-shadow:none;
}

dfn, i, a:hover, #menu ul a.-focus, #menu ul a.-focus:hover {
/*  text-decoration:underline;*/
  background-image:linear-gradient(to top,
    #0001 0,
    currentColor 0, 
    currentColor calc(1rem/26), 
    #0000 calc(1rem/26));
    background-size:100% calc(1em);
    background-position:center;
    background-repeat:no-repeat;

  text-shadow:
    calc(2rem/26)  0 0 var(--bgcolor),
    calc(1rem/26)  0 0 var(--bgcolor),
    calc(1rem/52)  0 0 var(--bgcolor),
    calc(1rem/-52) 0 0 var(--bgcolor),
    calc(1rem/-26) 0 0 var(--bgcolor),
    calc(2rem/-26) 0 0 var(--bgcolor);
}



dfn:hover,
dfn.-focus, dfn.-focus > dfn {
  text-shadow:none;
  border-radius:calc(3rem/26);
  padding:0 .15em 0 .15em;
  margin:0 -.15em 0 -.15em;
  background:var(--highlight);
}

i span.url {
  background:none;
  text-shadow:none;
}

a:hover, b:hover, i:hover {
  color:var(--acolor);
}

i.common, 
i.fn, i.op, i.url, *>span.url,
.rule dfn, .rule i, 
.grammar td:first-child i,
.grammar td:first-child dfn {
  font-style:normal;
  background:none;
  text-shadow:none;
}

i.noindex:hover, b.noindex:hover {
  cursor:text;
  color:unset;
}

dfn.b, i.noindex, a, abbr, .op, .fn, i.op, i.fn {
  /* text-decoration:none */
  background:none;
  text-shadow:none;
}


#toc a, #menu a {
  text-decoration:none;
}
#toc a:hover, #menu a:hover {
  color:var(--acolor);
}




/* Tooltip Grid
/* ============= */

#tooltip {
  word-spacing:-0.04em;
  text-align:center;
  font:var(--sans);
  font-size:.6rem;
  position:absolute;
  padding:0;
  opacity:1;
  transition:opacity 300ms;
  transition-delay:300ms;
}
#tooltip.-hidden {
  transition:opacity 100ms;
  transition-delay: 0ms;
  opacity:0;
}

#tooltip ul {
  padding:0;
}
#tooltip li {
  display:inline;
  padding:0;
}

#tooltip tr {
  display:block;
  width:auto;
}
#tooltip td {
  display:inline;
  white-space:normal;
}
#tooltip .\+br {
  display:block;
  margin-bottom:1rem;
}
#tooltip li::before {
  margin-left:0;
  padding:0 .2ch;
  content:'(' counter(list-counter, lower-roman) ')';
  font:var(--serif);
  font-size:1.05em;
}
#tooltip li li::before {
  margin-left:0;
  padding:0 .2ch;
  font:var(--serif);
  content:'(' counter(list-counter, lower-alpha) ')';
}
#tooltip br {
  display:none;
}
#tooltip p {
  min-height:1rem;
}  
#tooltip h4 {
 display:block;
 line-height:1rem;
  min-height:1rem;
 white-space:nowrap;
 font-size:calc(2rem/3);
 margin:0;
}
#tooltip h4 {
  margin-top:1rem;
}
#tooltip h4:first-child {
  margin-top:0rem;
}
#tooltip .inbetween {
  margin-top:0;
  margin-bottom:0;
}
#tooltip h3 {
  margin-top:0;
}
#tooltip>li {
  list-style:none;
}


/* Specific elements
/* ================= */

table#characters {
  font-size:.9em;
  margin-top:2.5rem;
  margin-bottom:2.5rem;
}

table#characters th,
table#characters td {
  white-space:nowrap;
  text-align:center;
  border:1px solid #0002;
  width:1.5rem;
  height:1rem;
  padding:0;
}

table#characters th {
  border-left:none;
  padding:0 .5rem;
  text-align:right;
}

table#characters tfoot th,
table#characters thead th {
  text-align:left;
  padding:0;
  border: none;
}
table#characters td:last-child,
table#characters th:last-child {
  border-right:none;
}

table#characters thead th span,
table#characters tfoot th span {
  width:1.5rem;
  height:1.5rem;
  padding-top:.3rem;
  display:block;
  overflow:visible;
  transform-origin:0 1.5rem;
  transform:translate(1.5rem,0) rotate(-60deg);
  border-bottom:1px solid #0002;
}
table#characters tfoot th span {
  transform-origin:0 0;
  padding-top:.05rem;
  text-align:right;
  transform:translate(1.5rem,0) rotate(60deg);
  border-top:1px solid #0002;
  border-bottom:none;
}

table#characters .inbetween {
  height:2rem;
  display:none;
}
table#characters td:first-child,
table#characters th:first-child {
  border-left:none;
  border-right:none;
  white-space:nowrap;
  padding:0 1ch;
}
.R {
  color:darkred;
}



/* Tweaks
/* ====== */

td, .rule, dfn, i, var, nowrap {
  white-space: nowrap;
}

#tools .rule {
  white-space:normal;
}

#scheme-based-normalisation td {
  padding:0;
}

#scheme-based-normalisation td:nth-child(4) {
  padding:0 1em 0 1em;
}

/* Hack to prevent these items
 from increasing the line-box height  */

sub, sup, a, var, dfn, code, tt, b, i, h4, em, strong, abbr, .caps,
span.url, i.url, .caps {
  line-height:0;
}



/* Tweaks - Manual font size adjust
/* ================================ */

a, a:hover {
  font-size:0.914em;
}

b {
  font-size:0.871em;
}

.op, .fn, i.op, i.fn {
  font-size:0.871em;
}

code {
  font-size:0.53rem;
}

.note b {
  font-size:1em;
}

.note i {
  font-size:1.05em;
}


/* Likewise, in tooltip
/* ==================== */

#tooltip em,
#tooltip var,
#tooltip dfn,
#tooltip dfn,
#tooltip i {
  font-size:1.1em;
}

#tooltip i.url,
#tooltip span.url,
#tooltip dfn.url,
#tooltip dfn .url,
#tooltip i .url {
  font-size:0.8rem;
}

#tooltip a,
#tooltip .fn,
#tooltip .op,
#tooltip b, #tooltip dfn>b {
  font-size:.59rem;
}

#tooltip code {
  font-size:0.88em;
}

/*...*/
.todo * {
  text-shadow:none;
}
.todo em,
.todo var,
.todo dfn,
.todo i, #tooltip .url {
  font-size:1.1em;
}
