/* Colours
/* ============= */

:root {
  --red:#AF3B27
  --acolor:#AF3B27;
  --acolor:#2B6679;
  --bgcolor:#F9F5D7;
  --bgcolor:#FBF1C7;
  --bg2:#EBDBB2;
}

html {
  background:linear-gradient(var(--bgcolor), var(--bgcolor));
}

h1, h2, h3, h4, h5, h6 {
  color:var(--acolor);
}

a {
  color:var(--acolor);
}

code {
  background:var(--bg2);
}


/* Baseline and Grid
/* ============= */

html {
  padding:2rem 6rem;
  font-size:25px;
}
body {
  font-size:0.68rem;
}
abbr {
  display:inline;
  line-height:0rem;
  white-space:nowrap;
}

article {
  width:24rem;
}

#tools {
  position:fixed;
  left:32rem;
  top:calc(100vh - 16rem);
  width:calc(100vw - 30rem);
  max-width:15rem;
  font-family:Sans-Serif;
  font-size:.6rem;
}


/* Typographic Scale and Structural Devices
/* ============= */

h1 {
  font-size:1.7rem;
  line-height:2rem;
  min-height:2rem;
  margin-bottom:2rem;
}

h2 {
  margin-top:1.5rem;
  margin-bottom:.5rem;
  line-height:1rem;
  font-size:.88rem;
}
h3 {
  margin-top:1.5rem;
  margin-bottom:.5rem;
  line-height:1rem;
  font-size:.89rem;
  text-transform:lowercase;
  font-variant:small-caps;
}
h4 {
  font-size:.62rem;
  line-height:1rem;
}
sup, sub {
  font-size:.75em;
}





ul{
  padding:0 0 0 1em;
}
ol {
  padding:0;
  list-style-position:inside;
}
ul.-prose, ol.-prose {
  list-style-position:inside;
  padding:0;
}
li>ul, li>ol {
  padding:0 0 0 1em;
}
ul {
  list-style:none;
}
ul.-prose > li::before {
  margin-left:0;
}
ul > li::before {
  content:'–  ';
  margin-left:-1em;
}

h4 {
  display:inline;
}
h4+p {
  display:inline;
}
h4+p::before {
  content:'|';
  padding:0 .18em;
}
h4+p::after {
  content:'';
  display:block;
  margin:0 0 1rem;
}
h4+p.-br::after {
  display:block;
  margin:0;
}

.todo::before {
  content:'TODO ';
  color:var(--acolor);
}
.todo {
  margin-bottom:1rem;
  border:1px solid currentColor;
  padding:.5rem;
}


/* CSS Micro framework
/* ============= */

.-br {
  margin-bottom:0;
}
.\+br {
  margin-bottom:1rem;
}
.-screen {
  opacity:.2;
}
.-inbetween {
  margin-top:-.5rem;
  margin-bottom:.5rem;
}
.-inbetween + .-inbetween {
  margin-top:0;
  margin-bottom:.5rem;
}
.-nowrap {
  white-space:nowrap;
}
:not(table).-center {
  text-align:center;
}
table {
  border-collapse:collapse;
}
td {
}
td {
  white-space:nowrap;
}

td:nth-child(2n+2) {
  text-align:center;
  padding:0 .6em;
}
tr.-inbetween {
  height:2rem;
}

/* Inline lists */

ol {
  counter-reset: list-counter;
}
li {
  counter-increment: list-counter;
}
.-inline, ol.-inline {
  display:inline;
}
.-inline li {
  display:inline-block;
}
.-inline li::before {
  content: counter(list-counter) '. ';
}
.-inline li::after {
  content:' ';
}
.-inline li:last-child::after {
  content:none;
}





/* Typography
/* ============= */

body {
  font-family:'Produkt';
}

h1,h2,h3,h4,h5,h6 {
  font-family:Sans-Serif;
  font-weight:normal;
}
h1{
  font-weight:bold;
}
abbr.-caps {
  text-transform:lowercase;
  font-variant:small-caps;
  font-size:1.3em;
}
a {
  text-decoration:none;
  font-family:Sans-Serif;
  font-size:.62rem;
}

a:hover {
  text-decoration:underline;
}

/* Typography for Idioms
/* ============= */

dfn {
  font-style:italic;
  text-decoration:underline;
}

b > dfn {
  text-decoration:none;
  font-style:normal;
}

/* Using <i> For idioms */

i, var {
  font-style:italic;
}
i:hover, b:hover {
  text-decoration:underline;
  cursor:help;
}
i.noindex:hover, b.noindex:hover {
  text-decoration:none;
  cursor:text;
}
.op, .fn {
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}
i.common {
  font-style:normal;
}

/* Using <b> for constants */

b {
  font-weight:bold;
  font-style:normal;
  font-family:Sans-Serif;
  font-size:15.4px;
  line-height:1rem;
}

code {
  font-weight:normal;
  font-family:Monospace;
  font-size:14px;
  padding:1px 3px 0px;
  border-radius:1px;
}

a {
  text-decoration:none;
  font-family:Sans-Serif;
  font-size:.62rem;
}

.rule {
  font-style:normal;
}


/* Styling
/* ============= */

html {
  border-bottom:1px solid var(--acolor);
/*  <'border-image-source'> || <'border-image-slice'> [ / <'border-image-width'> | / <'border-image-width'>? / <'border-image-outset'> ]? || <'border-image-repeat'>  */
  border-image: linear-gradient(var(--acolor), var(--acolor)) 1 1 / 20rem 0rem 0rem 10rem / 24rem 12rem 22rem 7.5rem;
}

/*.grammar tr:not(.-inbetween) td:first-child {
  font-family:Sans-Serif;
  font-size:15px;

}*/


/* Specific elements
/* ============= */


.url {
  text-transform:lowercase;
  font-variant:small-caps;
  font-style:normal;
  font-size:1.3em;
}

.-lined td,.-lined th {
 border:1px solid currentColor; 
}

#printer td, #printer th {
  padding:0 .5em;
  text-align:center;
  white-space:nowrap;
  vertical-align:bottom;
  border:1px solid #0004;
  border-bottom:none;
  border-top:none;
}
#printer td {
  border:1px solid #0004;
  border-top:none;
  border-bottom:none;
}

#percent-encode-sets {
  display:block;
  width:100%;
}
#percent-encode-sets td
{
  padding:0;
  border:2px solid var(--bgcolor);
  background-color:var(--bg2);
  border-radius:5px;
}
#percent-encode-sets td.-screen {
  opacity:.18;
  background:none;
}
#printer td, #printer th {
  padding:0 .3em;
}
table#printer table {
  margin:-1px calc(-.3em - 1px);
}

#percent-encode-sets td.-screen code {
 background:none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* Tweaks
/* ============= */

sub, sup { 
  line-height:0;
}